
.footerIndex{
    background-color: rgba(0, 0, 0, 0.349);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

        .logos{
            display: flex;
            justify-content: center;

            a{
                img{
                    width: 64px;
                    margin: 15px;
                }
            }
            
        }
        .copi{
            display: flex;
            justify-content: space-evenly;
            
        
            h5{
                color: black;
                font-size: 24px;
                padding: 10px;
                margin: 10px;
            }
            .logoFooter{
                width: 95px;
                padding: 15px;
            }
    
    
        }
  
    }
 
