
.footerIndex{
    background-image: linear-gradient(to right, #1a3705, #2b6857, #6998a0, #bac8d5, #ffffff);
    width: 99%;
   
  

    .footImg {
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        

        

        
  
        .logos{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
         

          

            a{
                img{
                    width: 64px;
                    margin: 15px;
                }
            }
            
        }
        .copi{
        
            h5{
                color: black;
                font-size: 12px;
                padding: 10px;
                margin: 10px;
            }
    
    
        }
  
    }
 
}