.header{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    img {
        width: 350px;
    }
    h1 {
        font-size: 60px;
        color: $colorPrimario;
    }
}
.headerH1 h1 {
    color: $colorPrimario;
    font-size: 50px;
}