.main{

    display: flex;
    flex-direction: column;
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: rgba(26, 71, 38);
        h2{
            font-size: 50px;
            margin-top: 25px;
            padding: 10px;
            }
            h3{
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: 25px;
            }
       
       
    }
    .section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        div{
            margin: 15px;
    }
}
    .subTitulo{
        margin: 10px 5px 35px 5px;
        font-size: 18px;
        color: rgba(26, 71, 38);
        text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 2px 2px 2px rgba(12,89,7,0);
    }
    .boton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(26, 71, 38);
    }
    
  .parrafo{
    margin: 18px;
    color: rgba(26, 71, 38);
    font-size: 20px;
    p {
        padding: 15px;
    
        align-items: center;
        line-height: 40px;
        
      }
    
  }
     
  .somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(26, 71, 38);
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 1px solid black;
    margin: 25px;
    img {
        padding: 30px;
        width: 300px;
      }
      p{
        font-size: 25px;
        padding: 15px;
      }

    
  


    }

}