.mainIndex{
    background-image: linear-gradient(to bottom, #fff, $colorPrimario) ;
    width: 100%;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
  
    

    
    .slogan{
        display: flex;
        flex-direction: column;
        align-items: center;
        
      
        
        h2{
            font-size: 60px;
            margin-top: 25px;
            padding: 10px;
            color: $colorPrimario;
            transition: all 3s;
          
            }
            h3{
                font-size: 45px;
                margin-top: 10px;
                margin-bottom: 25px;
                color: $colorPrimario;
            }
       
       
    }
    .sectionIndex{
        display: flex;
        flex-direction: column;
        align-items: center;
        .subTitulo{
            margin: 10px 5px 55px 5px;
            font-size: 18px;
            text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 2px 2px 2px rgba(12,89,7,0);
            color: $colorPrimario
        }
        .tarjetas{
            margin: 25px;
            
            .cierres{
                margin-bottom: 50px;
                box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
              
            }
            .cintas{
                box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
                img{
                    padding: 40px;                    
                    margin-top: 20px;
                }
            }
            .hilos{
                margin-bottom: 50px;
                box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
                img{
                    padding: 40px;
                }
            }
            .guata{
                box-shadow: 6px 5px 8px 2px rgba(0,0,0,0.3);
                img{
                    padding: 40px;
                }
            }

        }
    }

    
    
    .boton{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $colorPrimario;
        &:hover {
            background-color: $colorSecundario;
        }

    }
}


    
  .parrafo{
    margin: 18px;

    font-size: 20px;
    p {
        padding: 15px;
    
        align-items: center;
        line-height: 40px;
        
      }
    
  }
     
  .somos{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 1px solid black;
    margin: 25px;
    img {
        padding: 30px;
        width: 300px;
      }
      p{
        font-size: 25px;
        padding: 15px;
      }

    
  


    }
    .somos3{
        display: flex;
        flex-direction: column;
        align-items: center;
    
        font-size: 20px;
        border-radius: 30px;
        margin-bottom: 25px;
        border: 1px solid black;
        margin: 25px;
        img {
            padding: 30px;
            width: 300px;
          }
          p{
            font-size: 25px;
            padding: 15px;
          }
        }
        .subDatos{
            margin-top: 25px;
            h5{
            color: $colorPrimario;
            font-size: 35px;
        }
    }
   

    
    .divForm { 
         
        color: $colorPrimario;
        font-size: 10px;
        textarea {
            border: 4px solid $colorPrimario;
            border-radius: 15px;
            background-color: $colorTerciario;
            color: black;
            font-size: 18px;
            padding: 5px;
            margin: 5px 5px 1px 5px;
        }
        input {
            border: 4px solid $colorPrimario;
            border-radius: 15px;
            background-color: $colorTerciario;
            color: white;
            font-size: 20px;
            padding: 5px;
            margin: 10px;
        }
        .formularioContacto{
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           align-items: center;
           margin-left: 30px;
          margin-top: 5px;
          padding: 20px;
          margin-bottom: 40px; 
         
    
    
    }
    .formulariocontacto div{
        margin-top: 15px;
        border-radius: 60px;
    
    
    }
    .btnBtn{
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        
     
    }
    .btnBtn input{
        background-color: $colorPrimario;
        font-size: 24px;
        align-items: center;
        margin: 1px;
        font-style: none;
        text-decoration: none;
    
    
    }
    
    
   
    
    
    
        
    }
    .logoRedesContacto{
  
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        padding: 10px;
        width: auto;
        justify-content: space-evenly;
        
    }
    
    .logoRedesContacto img{
        width: 30px;
        margin-bottom: 30px;
        
    }
    .logoRedesContacto h5 {
        display: flex;
    }
    .logosContacto img {
    
        width: 30px;
    
    }
    .logosContacto {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 10px;
        justify-content: space-between;
        width: auto;
    }
    
    
    .sectionContactos{
        margin: 6px;
        padding: 6px;
        
        display: flex;
        flex-direction: row-reverse;
        justify-items: center;
    
        
    }
    .divInstagram{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
     
        
        margin-bottom: 10px;
    }
    .divInstagram h5{
        margin-bottom: 30px;
        margin-left: 15px;
        font-size: 15px;
        color: $colorPrimario;
        align-items: center;
    }
    .divDatos{
        display: flex;
        flex-direction: row-reverse;  
        align-items: center;
        margin-bottom: 80px;
    }
    .divDatos h5 {
        font-size: 19px;
        margin-left: 5px;
        color: $colorPrimario;
        
    }
    .slogan1{
        display: flex;
        justify-content: center;
        
    }
    .slogan1 h5 {
        font-size: 20px;
        color: $colorPrimario;
        margin-top: 50px;
    }
    .maps{
        display: flex;
        justify-content: center;
        margin-bottom: 50px; 
        width: 99%;   
    }
    


