

@media (min-width: 768px){
    .navegador{
        background-color: whitesmoke;
        color: black;
        ul{
            li{
              a{
                color: rgba(0, 0, 0, 0.734);
              }
                    :hover{
                        font-size: 20px;
                        color: black;
                    }
                
            }
        }
        .menuMenu{
            li{
              
                a{
                    color: black;
                }
            }
        }
        
    }
    .imgLogo{
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 500px;
        margin-bottom: 0;
        margin-left: 90px;
        .hH1{
            margin-right: 20px;
        }
        
    }
    
   
}
