@media (min-width: 1200px){

    
    .navegador{
        background-color: whitesmoke;
        font-size: 20px;
        justify-content: start;
    
    }
    .headerH1{
        h1{
            font-size: 100px;
             margin: 30px 5px 5px 5px;
    }
    .carouselFotos{

        height: 400px;
   
        img{
            height: 400px;
        }
    }
}
.main{

    .slogan{
        
        h2{
            font-size: 60px;

            }
            h3{
                font-size: 40px;

            }
        }

       
        
        .subTitulo{
            display: flex;
            h3{
                font-size: 50px;
            }
     
        }
    
        .tarjetas{
            display: flex;
            
            .cierres{
                border: 0px;
                margin-right: 150px;
            }
            .cintas{
                border: 0px;
                margin-left: 150px;
            }
            .hilos{
                border: 0px;
                margin-right: 150px;
            }
            .guata{
                border: 0;
                margin-left: 150px;
            }
       

        
        }   
        .parrafo {
            font-size: 40px;
            margin: 15px;
            text-align: center;
        }
        .somos{
            display: flex;
            flex-direction: row;
            border: 0;
            p{
                font-size: 30px;
                text-align: center;
            }
            img:hover{
                text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 2px 2px 2px rgba(12,89,7,0);
    
            }

        } 
        .somos3{
            display: flex;
            flex-direction: row-reverse;
            border: 0;
            margin-left: 400px;
            p{
                font-size: 30px;
                text-align: center;
            }

        } 

         
      
}
footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .footImg{
        margin-left: 70px;
        justify-items: end;
        justify-content: end;
        
  
        a{
            img{
                width: 100px;
            }
        }

    }
    .copi{
        align-items: end;
        margin: 0;
        padding: 0;
        margin-right: 70px;
    }
   
}


}
@media (min-width: 992px){
    .navegador{
        background-color: whitesmoke;
        font-size: 20px;
        justify-content: start;
    
    }
    .headerH1{
        h1{
            font-size: 100px;
             margin: 30px 5px 5px 5px;
    }
    .carouselFotos{

        height: 400px;
   
        img{
            height: 400px;
        }
    }
}
.main{

    .slogan{
        
        h2{
            font-size: 60px;

            }
            h3{
                font-size: 40px;

            }
        }

       
        
        .subTitulo{
            display: flex;
            h3{
                font-size: 50px;
            }
     
        }
    
        .tarjetas{
            display: flex;
            
            .cierres{
                border: 0px;
                margin-right: 150px;
            }
            .cintas{
                border: 0px;
                margin-left: 150px;
            }
            .hilos{
                border: 0px;
                margin-right: 150px;
            }
            .guata{
                border: 0;
                margin-left: 150px;
            }
       

        
        }   
        .parrafo {
            font-size: 40px;
            margin: 15px;
            text-align: center;
        }
        .somos{
            display: flex;
            flex-direction: row;
            border: 0;
            p{
                font-size: 30px;
                text-align: center;
            }
            img:hover{
                text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15), 2px 2px 2px rgba(12,89,7,0);
    
            }

        } 
        .somos3{
            display: flex;
            flex-direction: row-reverse;
            border: 0;
            margin-left: 4px;
            p{
                font-size: 30px;
                text-align: center;
            }

        } 

         
      
}
footer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .footImg{
        margin-left: 70px;
        justify-items: end;
        justify-content: end;
        
  
        a{
            img{
                width: 100px;
            }
        }

    }
    .copi{
        align-items: end;
        margin: 0;
        padding: 0;
        margin-right: 70px;
    }
   
}

}

