

@media (min-width:768px){
    .navegador{
        background-color: whitesmoke;
        color: black;
        ul{
            li{
              a{
                color: rgba(0, 0, 0, 0.734);
              }
                    :hover{
                        font-size: 20px;
                        color: black;
                    }
                
            }
        }
        .menuMenu{
            li{
              
                a{
                    color: black;
                }
            }
        }
        
    }
    .imgLogo{
      
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 0;
        width: 500px;
        margin-bottom: 0;
        margin-left: 90px;
        .hH1{
            margin-right: 20px;
        }
        
    }
    
   
}
@media(min-width:992px) {
    
    .imgLogo{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin-right: 0;
        width: 100%;
        margin-bottom: 0;
        margin-left: 0;
        img{
            width: 96px;
            margin-right: 20px;
        }
        .hH1{
            color: $colorPrimario;
            text-decoration: solid;
            font-size: 30px;
            :hover{
                font-size: 80px;
            }
        }
    }
    .mainIndex{       
    
      
        .sectionIndex{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
            .subTitulo{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
               
            }
            .tarjetas{

                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                margin: 0;
                
                .cierres{
                    margin-bottom: 50px;
                    margin-right: 30px;
                    img{
                        margin-bottom: 120px;
                    }
                 
                  
                }
                .cintas{
                    margin-bottom: 50px;
                    margin-left: 30px;
                 
                    img{
                        padding: 40px;                    
                        margin-top: 20px;
                    }
                }
                .hilos{

                    margin-bottom: 50px;
                    margin-right: 30px;
                    img{
                        padding: 40px;
                        
                    }
                }
                .guata{
                    margin-bottom: 50px;
                    margin-left: 30px;
            
                    img{
                        padding: 40px;
                    }
                }
    
            }
        }
}
}     
@media(min-width: 1200px){
    .mainIndex{
        .sectionIndex{
    .tarjetas{

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 0;
        
        .cierres{
            margin-bottom: 90px;
            margin-right: 60px;
            img{
                margin-bottom: 120px;
            }
         
          
        }
        .cintas{
            margin-bottom: 90px;
            margin-left: 60px;
         
            img{
                padding: 40px;                    
                margin-top: 20px;
            }
        }
        .hilos{

            margin-bottom: 90px;
            margin-right: 60px;
            img{
                padding: 40px;
                
            }
        }
        .guata{
            margin-bottom: 90px;
            margin-left: 60px;
    
            img{
                padding: 40px;
            }
        }

    }
}
}
}
