.navegador{
    background-color: $colorPrimario;
    color: white;
    ul{
        li{
          a{
            color: white;
          }
                :hover{
                    font-size: 30px;
                    color: whitesmoke;
                }
            
        }
    }
    .menuMenu{
        li{
          
            a{
                color: black;
            }
        }
    }
}
