.navBar{
    position: fixed;
    top: 0;
    z-index: 30;
    width: 100%;
}
.imgLogo{
    img{
        width: 128px;
        margin-right: 20px;
    }
    .hH1{
        color: $colorPrimario;
        text-decoration: solid;
        font-size: 50px;
        :hover{
            font-size: 80px;
        }
    }
}
.navegador{
    li{
        a{
        :hover{
            color: $colorPrimario;
        }
    }
}
}
.imgLogoNos{
    width: 100%;
   
    img{

        width: 96px;
        margin-left: 50px;
    }
}
.navBarNos{
    width: 100%;
}