$colores:(
    primario:rgb(26, 71, 38),
    secundario: rgb(223, 226, 204),
    terceario: rgb(5, 104, 31)

);
$justificado: (
    start:start,
    centro:centro,
    end:end,
    around:space-around,
    between:space-between,
    evenly:space-evenly
    


);
$boton:(
    padding: 15px 10px,
    borde: 0,
    radio: 5px,
);
@each $key , $var in $justificado {
    .justificado-contenido-#{$key}{
        justify-content: $var;
    }
    
}

@each $key , $var in $colores {
    .boton1-#{$key}{
        background-color: $var;
    }

    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
@for $var from 1 through 10 {
    colum-#{$var}{
        width: 10% * $var;
    }
    
}
@media(min-width:768px){
    @for $var from 1 through 10 {
        colum-md-#{$var}{
            width: 10% * $var;
        }
        
    }
}
@media(min-width:1200px){
    @for $var from 1 through 10 {
        colum-xl-#{$var}{
            width: 10% * $var;
        }
        
    }
}
@mixin propiedades ($ancho, $alto, $colorLetra) {
    width: $ancho;
    height: $alto;
    color: $colorLetra;
    
}
.sectionTijera{
    border: 1px solid black;
}
.cierresTijera{
    border: 1px solid black;
}
.tarjetas1{
    display: flex;
    margin: 10px;
    padding: 5px;
}

.botonn{
    border: 0;
    padding: map-get($boton , padding);
    border-radius: map-get($boton , radio);
    text-decoration: none;
    
    font-size: 15px;
    @include propiedades(160px,100px ,$colorPrimario )
}
@each $key , $var in $colores {

    .btn1-#{$key}{
        @extend .botonn;


        background-color: $var;
    }
}