* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

.navBar {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%; }

.imgLogo img {
  width: 128px;
  margin-right: 20px; }

.imgLogo .hH1 {
  color: #1a4726;
  text-decoration: solid;
  font-size: 50px; }
  .imgLogo .hH1 :hover {
    font-size: 80px; }

.navegador li a :hover {
  color: #1a4726; }

.imgLogoNos img {
  width: 96px;
  margin-left: 50px; }

.header {
  margin-top: 150px;
  text-align: center;
  color: #1a4726; }
  .header .h1Header {
    font-size: 70px; }

.mainIndex {
  background-image: linear-gradient(to bottom, #fff, #1a4726);
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: column; }
  .mainIndex .slogan {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainIndex .slogan h2 {
      font-size: 60px;
      margin-top: 25px;
      padding: 10px;
      color: #1a4726;
      transition: all 3s; }
    .mainIndex .slogan h3 {
      font-size: 45px;
      margin-top: 10px;
      margin-bottom: 25px;
      color: #1a4726; }
  .mainIndex .sectionIndex {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .mainIndex .sectionIndex .subTitulo {
      margin: 10px 5px 55px 5px;
      font-size: 18px;
      text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15), 2px 2px 2px rgba(12, 89, 7, 0);
      color: #1a4726; }
    .mainIndex .sectionIndex .tarjetas {
      margin: 25px; }
      .mainIndex .sectionIndex .tarjetas .cierres {
        margin-bottom: 50px;
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
        .mainIndex .sectionIndex .tarjetas .cierres img {
          padding: 10px;
          margin-top: 20px; }
      .mainIndex .sectionIndex .tarjetas .cintas {
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
        .mainIndex .sectionIndex .tarjetas .cintas img {
          padding: 40px;
          margin-top: 20px; }
      .mainIndex .sectionIndex .tarjetas .hilos {
        margin-bottom: 50px;
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
        .mainIndex .sectionIndex .tarjetas .hilos img {
          padding: 40px; }
      .mainIndex .sectionIndex .tarjetas .guata {
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3); }
        .mainIndex .sectionIndex .tarjetas .guata img {
          padding: 40px; }
  .mainIndex .boton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1a4726; }
    .mainIndex .boton:hover {
      background-color: #559265; }

.mainNos {
  background-image: linear-gradient(to bottom, #fff, #1a4726); }
  .mainNos .sloganNos .quienesSomos {
    text-align: center;
    color: #1a4726; }
  .mainNos .parrafo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 18px;
    font-size: 20px; }
    .mainNos .parrafo p {
      padding: 15px;
      line-height: 40px; }
  .mainNos .somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 1px solid black;
    margin: 25px; }
    .mainNos .somos img {
      padding: 30px;
      width: 300px; }
    .mainNos .somos p {
      font-size: 25px;
      padding: 15px; }

.somos3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  border-radius: 30px;
  margin-bottom: 25px;
  border: 1px solid black;
  margin: 25px; }
  .somos3 img {
    padding: 30px;
    width: 300px; }
  .somos3 p {
    font-size: 25px;
    padding: 15px; }

.subDatos {
  margin-top: 25px; }
  .subDatos h5 {
    color: #1a4726;
    font-size: 35px; }

.divForm {
  color: #1a4726;
  font-size: 10px; }
  .divForm textarea {
    border: 4px solid #1a4726;
    border-radius: 15px;
    background-color: #d0ffe5;
    color: black;
    font-size: 18px;
    padding: 5px;
    margin: 5px 5px 1px 5px; }
  .divForm input {
    border: 4px solid #1a4726;
    border-radius: 15px;
    background-color: #d0ffe5;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 10px; }
  .divForm .formularioContacto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    margin-top: 5px;
    padding: 20px;
    margin-bottom: 40px; }
  .divForm .formulariocontacto div {
    margin-top: 15px;
    border-radius: 60px; }
  .divForm .btnBtn {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px; }
  .divForm .btnBtn input {
    background-color: #1a4726;
    font-size: 24px;
    align-items: center;
    margin: 1px;
    font-style: none;
    text-decoration: none; }

.logoRedesContacto {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding: 10px;
  width: auto;
  justify-content: space-evenly; }

.logoRedesContacto img {
  width: 30px;
  margin-bottom: 30px; }

.logoRedesContacto h5 {
  display: flex; }

.logosContacto img {
  width: 30px; }

.logosContacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 10px;
  justify-content: space-between;
  width: auto; }

.sectionContactos {
  margin: 6px;
  padding: 6px;
  display: flex;
  flex-direction: row-reverse;
  justify-items: center; }

.divInstagram {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px; }

.divInstagram h5 {
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 15px;
  color: #1a4726;
  align-items: center; }

.divDatos {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 80px; }

.divDatos h5 {
  font-size: 19px;
  margin-left: 5px;
  color: #1a4726; }

.slogan1 {
  display: flex;
  justify-content: center; }

.slogan1 h5 {
  font-size: 20px;
  color: #1a4726;
  margin-top: 50px; }

.maps {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  width: 99%; }

.mono {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  color: #1a4726; }

.mono h4 {
  font-size: 40px;
  margin-bottom: 15px; }

.mono p {
  color: black;
  font-size: 16px;
  line-height: 25px; }

.cierreMono1 {
  display: flex;
  margin-top: 20px; }

.mono1 {
  width: 180px; }

.mono2 {
  width: 180px; }

.mono3 {
  width: 360px;
  margin-bottom: 20px; }

.ddp1 {
  width: 250px;
  height: 250px; }

.ddp2 {
  width: 250px;
  height: 250px; }

.ddp {
  margin-top: 20px; }

.hilo2 {
  width: 50px; }

.footerIndex {
  background-color: rgba(0, 0, 0, 0.349);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .footerIndex .logos {
    display: flex;
    justify-content: center; }
    .footerIndex .logos a img {
      width: 64px;
      margin: 15px; }
  .footerIndex .copi {
    display: flex;
    justify-content: space-evenly; }
    .footerIndex .copi h5 {
      color: black;
      font-size: 24px;
      padding: 10px;
      margin: 10px; }
    .footerIndex .copi .logoFooter {
      width: 95px;
      padding: 15px; }

@media (min-width: 768px) {
  .navegador {
    background-color: whitesmoke;
    color: black; }
    .navegador ul li a {
      color: rgba(0, 0, 0, 0.734); }
    .navegador ul li :hover {
      font-size: 20px;
      color: black; }
    .navegador .menuMenu li a {
      color: black; }
  .imgLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    width: 500px;
    margin-bottom: 0;
    margin-left: 90px; }
    .imgLogo .hH1 {
      margin-right: 20px; } }

@media (min-width: 992px) {
  .imgLogo {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-right: 0;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0; }
    .imgLogo img {
      width: 96px;
      margin-right: 20px; }
    .imgLogo .hH1 {
      color: #1a4726;
      text-decoration: solid;
      font-size: 30px; }
      .imgLogo .hH1 :hover {
        font-size: 80px; }
  .mainIndex .sectionIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly; }
    .mainIndex .sectionIndex .subTitulo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%; }
    .mainIndex .sectionIndex .tarjetas {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0; }
      .mainIndex .sectionIndex .tarjetas .cierres {
        margin-bottom: 50px;
        margin-right: 30px; }
        .mainIndex .sectionIndex .tarjetas .cierres img {
          margin-bottom: 120px; }
      .mainIndex .sectionIndex .tarjetas .cintas {
        margin-bottom: 50px;
        margin-left: 30px; }
        .mainIndex .sectionIndex .tarjetas .cintas img {
          padding: 40px;
          margin-top: 20px; }
      .mainIndex .sectionIndex .tarjetas .hilos {
        margin-bottom: 50px;
        margin-right: 30px; }
        .mainIndex .sectionIndex .tarjetas .hilos img {
          padding: 40px; }
      .mainIndex .sectionIndex .tarjetas .guata {
        margin-bottom: 50px;
        margin-left: 30px; }
        .mainIndex .sectionIndex .tarjetas .guata img {
          padding: 40px; } }

@media (min-width: 1200px) {
  .mainIndex .sectionIndex .tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0; }
    .mainIndex .sectionIndex .tarjetas .cierres {
      margin-bottom: 90px;
      margin-right: 60px; }
      .mainIndex .sectionIndex .tarjetas .cierres img {
        margin-bottom: 120px; }
    .mainIndex .sectionIndex .tarjetas .cintas {
      margin-bottom: 90px;
      margin-left: 60px; }
      .mainIndex .sectionIndex .tarjetas .cintas img {
        padding: 40px;
        margin-top: 20px; }
    .mainIndex .sectionIndex .tarjetas .hilos {
      margin-bottom: 90px;
      margin-right: 60px; }
      .mainIndex .sectionIndex .tarjetas .hilos img {
        padding: 40px; }
    .mainIndex .sectionIndex .tarjetas .guata {
      margin-bottom: 90px;
      margin-left: 60px; }
      .mainIndex .sectionIndex .tarjetas .guata img {
        padding: 40px; } }
