* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif; }

.navegador {
  background-color: #1a4726;
  color: white; }
  .navegador ul li a {
    color: white; }
  .navegador ul li :hover {
    font-size: 30px;
    color: whitesmoke; }
  .navegador .menuMenu li a {
    color: black; }

.header {
  display: flex;
  flex-direction: column-reverse;
  align-items: center; }
  .header img {
    width: 350px; }
  .header h1 {
    font-size: 60px;
    color: #1a4726; }

.headerH1 h1 {
  color: #1a4726;
  font-size: 50px; }

.main {
  display: flex;
  flex-direction: column; }
  .main .slogan {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .main .slogan h2 {
      font-size: 40px;
      margin-top: 25px;
      padding: 10px;
      color: #1a4726; }
    .main .slogan h3 {
      font-size: 25px;
      margin-top: 10px;
      margin-bottom: 25px;
      color: #1a4726; }
  .main .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; }
    .main .section div {
      margin: 15px; }
    .main .section h3 {
      color: #1a4726; }
    .main .section .subTitulo {
      margin: 10px 5px 35px 5px;
      font-size: 18px;
      text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15), 2px 2px 2px rgba(12, 89, 7, 0); }
    .main .section .boton {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #1a4726; }
      .main .section .boton:hover {
        background-color: #559265; }
  .main .parrafo {
    margin: 18px;
    font-size: 20px; }
    .main .parrafo p {
      padding: 15px;
      align-items: center;
      line-height: 40px; }
  .main .somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 1px solid black;
    margin: 25px; }
    .main .somos img {
      padding: 30px;
      width: 300px; }
    .main .somos p {
      font-size: 25px;
      padding: 15px; }
  .main .somos3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 25px;
    border: 1px solid black;
    margin: 25px; }
    .main .somos3 img {
      padding: 30px;
      width: 300px; }
    .main .somos3 p {
      font-size: 25px;
      padding: 15px; }
  .main .subDatos {
    margin-top: 25px; }
    .main .subDatos h5 {
      color: #1a4726;
      font-size: 35px; }
  .main .divForm {
    color: #1a4726;
    font-size: 10px; }
    .main .divForm textarea {
      border: 4px solid #1a4726;
      border-radius: 15px;
      background-color: #d0ffe5;
      color: black;
      font-size: 18px;
      padding: 5px;
      margin: 5px 5px 1px 5px; }
    .main .divForm input {
      border: 4px solid #1a4726;
      border-radius: 15px;
      background-color: #d0ffe5;
      color: white;
      font-size: 20px;
      padding: 5px;
      margin: 10px; }
    .main .divForm .formularioContacto {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-left: 30px;
      margin-top: 5px;
      padding: 20px;
      margin-bottom: 40px; }
    .main .divForm .formulariocontacto div {
      margin-top: 15px;
      border-radius: 60px; }
    .main .divForm .btnBtn {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px; }
    .main .divForm .btnBtn input {
      background-color: #1a4726;
      font-size: 24px;
      align-items: center;
      margin: 1px;
      font-style: none;
      text-decoration: none; }
  .main .logoRedesContacto {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    padding: 10px;
    width: auto;
    justify-content: space-evenly; }
  .main .logoRedesContacto img {
    width: 30px;
    margin-bottom: 30px; }
  .main .logoRedesContacto h5 {
    display: flex; }
  .main .logosContacto img {
    width: 30px; }
  .main .logosContacto {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
    width: auto; }
  .main .sectionContactos {
    margin: 6px;
    padding: 6px;
    display: flex;
    flex-direction: row-reverse;
    justify-items: center; }
  .main .divInstagram {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 10px; }
  .main .divInstagram h5 {
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 15px;
    color: #1a4726;
    align-items: center; }
  .main .divDatos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-bottom: 80px; }
  .main .divDatos h5 {
    font-size: 19px;
    margin-left: 5px;
    color: #1a4726; }
  .main .slogan1 {
    display: flex;
    justify-content: center; }
  .main .slogan1 h5 {
    font-size: 20px;
    color: #1a4726;
    margin-top: 50px; }
  .main .maps {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    width: 99%; }

.mono {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  color: #1a4726; }

.mono h4 {
  font-size: 40px;
  margin-bottom: 15px; }

.mono p {
  color: black;
  font-size: 16px;
  line-height: 25px; }

.cierreMono1 {
  display: flex;
  margin-top: 20px; }

.mono1 {
  width: 180px; }

.mono2 {
  width: 180px; }

.mono3 {
  width: 360px;
  margin-bottom: 20px; }

.ddp1 {
  width: 250px;
  height: 250px; }

.ddp2 {
  width: 250px;
  height: 250px; }

.ddp {
  margin-top: 20px; }

.hilo2 {
  width: 50px; }

footer {
  background-color: #1a4726; }
  footer .copi h5 {
    color: white;
    font-size: 14px;
    margin-top: 10px; }

@media (min-width: 1200px) {
  body {
    background-image: linear-gradient(to bottom, #fff, #1a4726); }
  .navBar {
    width: 98%;
    position: fixed;
    top: 0;
    z-index: 30; }
  .navegador {
    height: 80px;
    background-color: #120f0f;
    font-size: 20px;
    justify-content: start; }
  .imgLogo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 55px;
    width: 1080px; }
    .imgLogo img {
      margin-right: 20px;
      width: 150px; }
    .imgLogo h1 {
      font-size: 60px;
      margin: 18px;
      flex-wrap: wrap;
      color: #1a4726; }
  .headerH1 {
    margin-top: 150px; }
    .headerH1 .carouselFotos {
      height: 400px; }
      .headerH1 .carouselFotos img {
        height: 400px; }
  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 100px; }
    .header h1 {
      font-size: 110px;
      margin-top: 50px; }
    .header img {
      margin-top: 50px;
      width: 400px; }
  .mainContacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: start; }
    .mainContacto .divForm {
      margin-right: 200px; }
  .mainIndex {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 50px; }
    .mainIndex .slogan {
      margin-top: 30px;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      flex-direction: column; }
      .mainIndex .slogan h2 {
        margin-bottom: 50px;
        font-size: 100px; }
      .mainIndex .slogan h3 {
        font-size: 40px; }
    .mainIndex .subTitulo {
      display: flex; }
      .mainIndex .subTitulo h3 {
        margin-top: 30px;
        font-size: 60px; }
    .mainIndex .tarjetas {
      display: flex;
      margin-top: 80px;
      align-items: center;
      justify-content: space-around; }
      .mainIndex .tarjetas .cierres {
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
        border: none;
        margin-right: 150px;
        margin-bottom: 150px; }
        .mainIndex .tarjetas .cierres img {
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 200px; }
      .mainIndex .tarjetas .cintas {
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
        border: none;
        margin-right: 150px;
        margin-bottom: 150px; }
        .mainIndex .tarjetas .cintas img {
          width: 200px;
          margin-left: 40px;
          margin-bottom: 10px;
          padding: 20px;
          border-radius: 200px; }
      .mainIndex .tarjetas .hilos {
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
        border: none;
        margin-right: 150px;
        margin-bottom: 150px; }
        .mainIndex .tarjetas .hilos img {
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 200px; }
      .mainIndex .tarjetas .guata {
        box-shadow: 6px 5px 8px 2px rgba(0, 0, 0, 0.3);
        border: none;
        margin-right: 150px;
        margin-bottom: 150px; }
        .mainIndex .tarjetas .guata img {
          margin-bottom: 10px;
          padding: 10px;
          border-radius: 200px; }
    .mainIndex .parrafo {
      font-size: 40px;
      margin: 15px;
      text-align: center; }
    .mainIndex .somos {
      display: flex;
      flex-direction: row;
      border: 0; }
      .mainIndex .somos p {
        font-size: 30px;
        text-align: center; }
    .mainIndex .slogan1 .subDatos {
      margin-left: 400px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mainIndex .slogan1 .subDatos h5 {
        font-size: 40px;
        margin-right: 560px; }
    .mainIndex .divForm {
      color: black;
      font-size: 30px;
      width: 600px; }
      .mainIndex .divForm textarea {
        border: 6px solid #1a4726;
        color: black;
        font-size: 26px; }
      .mainIndex .divForm input {
        border: 6px solid #1a4726;
        color: white;
        font-size: 26px; }
      .mainIndex .divForm .btnBtn {
        color: white; }
        .mainIndex .divForm .btnBtn .btn {
          color: white; }
          .mainIndex .divForm .btnBtn .btn .btn1 {
            color: white; }
    .mainIndex .slogan1 {
      display: flex;
      justify-content: center; }
    .mainIndex .slogan1 h5 {
      font-size: 20px;
      color: #1a4726;
      margin-top: 50px; }
  .main {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 50px; }
    .main .sectionContactos {
      width: 50%; }
    .main .logoRedesContacto {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 50%; }
      .main .logoRedesContacto .divInstagram {
        display: flex; }
        .main .logoRedesContacto .divInstagram h5 {
          font-size: 30px; }
    .main .logosContacto {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      width: 50%; }
      .main .logosContacto .divDatos {
        display: flex; }
        .main .logosContacto .divDatos h5 {
          font-size: 30px; }
    .main .slogan {
      margin-top: 30px;
      border: 1px solid black;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .main .slogan h2 {
        font-size: 60px; }
      .main .slogan h3 {
        font-size: 40px; }
    .main .subTitulo {
      display: flex; }
      .main .subTitulo h3 {
        font-size: 50px; }
    .main .tarjetas {
      display: flex; }
      .main .tarjetas .cierres {
        border: 0px;
        margin-right: 150px; }
      .main .tarjetas .cintas {
        border: 0px;
        margin-left: 150px; }
      .main .tarjetas .hilos {
        border: 0px;
        margin-right: 150px; }
      .main .tarjetas .guata {
        border: 0;
        margin-left: 150px; }
    .main .slogan1 .subDatos {
      margin-left: 400px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main .slogan1 .subDatos h5 {
        font-size: 40px;
        margin-right: 560px; }
    .main .divForm {
      color: black;
      font-size: 30px;
      width: 600px; }
      .main .divForm textarea {
        border: 6px solid #1a4726;
        color: black;
        font-size: 26px; }
      .main .divForm input {
        border: 6px solid #1a4726;
        color: black;
        font-size: 26px; }
      .main .divForm .btnBtn .btn .btn1 {
        border: 1px solid black;
        color: white;
        width: 150px; }
      .main .divForm .btnBtn .btn .btn2 {
        border: 1px solid black;
        color: white;
        width: 150px; }
    .main .slogan1 {
      display: flex;
      justify-content: center; }
    .main .slogan1 h5 {
      font-size: 20px;
      color: #1a4726;
      margin-top: 50px; }
    .main .maps {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;
      width: 99%; }
  .maps {
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    .maps iframe {
      width: 100%; }
  .mainNos .slogan {
    display: flex;
    justify-content: center;
    margin-top: 30px; }
    .mainNos .slogan h2 {
      font-size: 60px; }
  .mainNos .parrafo {
    font-size: 40px;
    margin: 15px;
    text-align: center; }
  .mainNos .somos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px; }
    .mainNos .somos p {
      font-size: 25px;
      margin-right: 50px;
      text-align: center; }
    .mainNos .somos .somos1 {
      margin-left: 50px; }
  .mainNos .somos3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px; }
    .mainNos .somos3 .somos2 {
      margin-right: 50px; }
    .mainNos .somos3 p {
      font-size: 25px;
      text-align: center;
      margin-left: 50px; }
  footer {
    background-image: linear-gradient(to right, #1a3705, #2b6857, #6998a0, #bac8d5, #ffffff);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
    footer .footImg {
      margin-left: 70px;
      justify-items: end;
      justify-content: end; }
      footer .footImg a img {
        width: 100px; }
    footer .copi {
      align-items: end;
      margin: 0;
      padding: 0;
      margin-right: 70px; } }

@media (min-width: 992px) {
  .navegador {
    background-color: whitesmoke;
    font-size: 20px;
    justify-content: start; }
  .headerH1 h1 {
    font-size: 100px;
    margin: 30px 5px 5px 5px; }
  .headerH1 .carouselFotos {
    height: 400px; }
    .headerH1 .carouselFotos img {
      height: 400px; }
  .main .slogan h2 {
    font-size: 60px; }
  .main .slogan h3 {
    font-size: 40px; }
  .main .subTitulo {
    display: flex; }
    .main .subTitulo h3 {
      font-size: 50px; }
  .main .tarjetas {
    display: flex; }
    .main .tarjetas .cierres {
      border: 0px;
      margin-right: 150px; }
    .main .tarjetas .cintas {
      border: 0px;
      margin-left: 150px; }
    .main .tarjetas .hilos {
      border: 0px;
      margin-right: 150px; }
    .main .tarjetas .guata {
      border: 0;
      margin-left: 150px; }
  .main .parrafo {
    font-size: 40px;
    margin: 15px;
    text-align: center; }
  .main .somos {
    display: flex;
    flex-direction: row;
    border: 0; }
    .main .somos p {
      font-size: 30px;
      text-align: center; }
    .main .somos img:hover {
      text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15), 2px 2px 2px rgba(12, 89, 7, 0); }
  .main .somos3 {
    display: flex;
    flex-direction: row-reverse;
    border: 0;
    margin-left: 4px; }
    .main .somos3 p {
      font-size: 30px;
      text-align: center; }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between; }
    footer .footImg {
      margin-left: 70px;
      justify-items: end;
      justify-content: end; }
      footer .footImg a img {
        width: 100px; }
    footer .copi {
      align-items: end;
      margin: 0;
      padding: 0;
      margin-right: 70px; } }
